# 02. Pandas读取数据

In [1]:
import pandas as pd

## 1.读取纯文本文件

### 1.1 读取CSV

In [10]:
fpath = "./datas/ml-latest-small/ratings.csv"

In [11]:
ratings = pd.read_csv(fpath)

In [12]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
ratings.shape

(100836, 4)

In [14]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [15]:
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [16]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

### 1.2 读取txt

In [18]:
fpath = "./datas/crazyant/access_pvuv.txt"

In [19]:
pvuv = pd.read_csv(
    fpath,
    sep = "\t",
    header=None,
    names=['pdata', 'pv', 'uv']
)

In [20]:
pvuv

        pdata   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61