# 02. Pandas读取数据

In [1]:
import pandas as pd

## 1.读取纯文本文件

### 1.1 读取CSV

In [3]:
fpath = "./data/real_estate.csv"

In [4]:
ratings = pd.read_csv(fpath)

In [5]:
ratings.head()

   transactiondate   age  nearestMRT  nConvenience  latitude  longitude  price
0         2012.917  32.0    84.87882          10.0  24.98298  121.54024   37.9
1         2012.917  19.5   306.59470           9.0  24.98034  121.53951   42.2
2         2013.583  13.3   561.98450           5.0  24.98746  121.54391   47.3
3         2013.500  13.3   561.98450           5.0  24.98746  121.54391   54.8
4         2012.833   5.0   390.56840           5.0  24.97937  121.54245   43.1

In [6]:
ratings.shape

(414, 7)

In [7]:
ratings.columns

Index(['transactiondate', 'age', 'nearestMRT', 'nConvenience', 'latitude',
       'longitude', 'price'],
      dtype='object')

In [8]:
ratings.index

RangeIndex(start=0, stop=414, step=1)

In [9]:
ratings.dtypes

transactiondate    float64
age                float64
nearestMRT         float64
nConvenience       float64
latitude           float64
longitude          float64
price              float64
dtype: object