# 03. Pandas数据结构

In [1]:
import pandas as pd
import numpy as np

## 1. Series

Series是一种类似于- -维数组的对象， 它由一组数据(不同数据类型)以及- -组与之相关的数据标签{即索引)组成。

### 1.1 仅有数据列表既可产生最简单的Series

In [4]:
s1 = pd.Series([1, 'a', 5.2, 7])

In [5]:
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [6]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s1.values

array([1, 'a', 5.2, 7], dtype=object)

In [8]:
### 1.2 具有索引标签的series

In [9]:
s2 = pd.Series([1,'a',5.2,7], index=['d','b','a','c'])
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [10]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

### 1.3 Python字典创建series

In [12]:
sdata = {'Ohio':35000, 'Texas': 72000, 'Oregon': 16000, 'Utah': 5000}

In [14]:
s3 = pd.Series(sdata)

In [15]:
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

### 1.4 根据标签索引查询

In [17]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [18]:
s2['a']

5.2

In [19]:
type(s2['a'])

float

In [21]:
s2[['b', 'a']]

b      a
a    5.2
dtype: object

In [22]:
type(s2[['b', 'a']])

pandas.core.series.Series

## 2. DataFrame

### 2.1 根据多个字典创建

In [25]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]
}
df = pd.DataFrame(data)

In [26]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [27]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [28]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [29]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
## 3. 从DataFrames中查询Series

In [31]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [32]:
### 3.1 查询一列

In [33]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [34]:
type(df['year'])

pandas.core.series.Series

### 3.2 多列

In [36]:
df[['year', 'pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [37]:
type(df[['year', 'pop']])

pandas.core.frame.DataFrame

### 3.3 查询一行

In [39]:
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [40]:
type(df.loc[1])

pandas.core.series.Series

In [41]:
### 3.4 多行

In [42]:
df.loc[1:3]

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [43]:
type(df.loc[1:3])

pandas.core.frame.DataFrame