# 04. Pandas查询数据

In [2]:
import pandas as pd

## 0 读取数据

In [4]:
df = pd.read_csv("datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [5]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [6]:
df.set_index('ymd', inplace=True)

In [7]:
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

In [8]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [11]:
df.loc[:,"bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:,"yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [12]:
df.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [13]:
df.head

<bound method NDFrame.head of             bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
2018-12-28      -3     -11      晴       西北风     3级   40       优         1
2018-12-29      -3     -12      晴       西北风     2级   29       优         1
2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1
2018-12-31      -2     -10     多云       东北风     1级   56       良         2

[365 rows x 8 columns]>

In [14]:
## 1. 使用单个label值查询数据

In [15]:
df.loc['2018-01-03', 'bWendu']

2

In [16]:
df.loc['2018-01-03', ['bWendu', 'yWendu']]

bWendu     2
yWendu    -5
Name: 2018-01-03, dtype: object

In [17]:
## 2. 使用值列表批量查询

In [18]:
df.loc[['2018-01-03', '2018-01-04', '2018-01-05'], 'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [20]:
df.loc[['2018-01-03', '2018-01-04', '2018-01-05'], ['bWendu', 'yWendu']]

            bWendu  yWendu
ymd
2018-01-03       2      -5
2018-01-04       0      -8
2018-01-05       3      -6

In [21]:
## 3. 使用数值区间进行范围查询

In [22]:
df.loc['2018-01-03':'2018-01-05', 'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [23]:
df.loc['2018-01-03', 'bWendu': 'fengxiang']

bWendu        2
yWendu       -5
tianqi       多云
fengxiang    北风
Name: 2018-01-03, dtype: object

In [24]:
df.loc['2018-01-03':'2018-01-05', 'bWendu':'fengxiang']

            bWendu  yWendu tianqi fengxiang
ymd
2018-01-03       2      -5     多云        北风
2018-01-04       0      -8      阴       东北风
2018-01-05       3      -6   多云~晴       西北风

In [25]:
## 4. 条件表达式

In [26]:
### 简单条件查询

In [27]:
df.loc[df['yWendu']<-10,:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-23      -4     -12      晴       西北风   3-4级   31       优         1
2018-01-24      -4     -11      晴       西南风   1-2级   34       优         1
2018-01-25      -3     -11     多云       东北风   1-2级   27       优         1
2018-12-26      -2     -11   晴~多云       东北风     2级   26       优         1
2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
2018-12-28      -3     -11      晴       西北风     3级   40       优         1
2018-12-29      -3     -12      晴       西北风     2级   29       优         1
2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1

In [28]:
df['yWendu']<-10

ymd
2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
              ...
2018-12-27     True
2018-12-28     True
2018-12-29     True
2018-12-30     True
2018-12-31    False
Name: yWendu, Length: 365, dtype: bool

In [29]:
### 复杂条件查询

In [30]:
df.loc[(df['bWendu']<=30) & (df['yWendu']>=15) & (df['tianqi']=='晴') & (df['aqiLevel']==1), :]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-08-24      30      20      晴        北风   1-2级   40       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1

In [31]:
(df['bWendu']<=30) & (df['yWendu']>=15) & (df['tianqi']=='晴') & (df['aqiLevel']==1)

ymd
2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
              ...
2018-12-27    False
2018-12-28    False
2018-12-29    False
2018-12-30    False
2018-12-31    False
Length: 365, dtype: bool

In [32]:
## 5. 调用函数查询

In [33]:
df.loc[lambda df : (df['bWendu']<=30) & (df['yWendu']>=15)]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-04-28      27      17      晴       西南风   3-4级  125    轻度污染         3
2018-04-29      30      16     多云        南风   3-4级  193    中度污染         4
2018-05-04      27      16   晴~多云       西南风   1-2级   86       良         2
2018-05-09      29      17   晴~多云       西南风   3-4级   79       良         2
2018-05-10      26      18     多云        南风   3-4级  118    轻度污染         3
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-19      26      17     多云        南风   1-2级   52       良         2
2018-09-20      27      16     多云       西南风   1-2级   63       良         2

[64 rows x 8 columns]